@model Clinic.Models.Consultation

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center text-info">New Consultation</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="simpleForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="patient_id" class="control-label"></label>
                <select asp-for="patient_id" class="form-control" asp-items="ViewBag.patient_id"></select>
            </div>

            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" placeholder="Date" />
                <span asp-validation-for="date" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <input asp-for="type" class="form-control" placeholder="New Consultation" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="blood_presure" class="control-label"></label>
                <input asp-for="blood_presure" class="form-control" placeholder="Blood Presure" />
                <span asp-validation-for="blood_presure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="temp" class="control-label"></label>
                <input asp-for="temp" class="form-control" placeholder="Temprature" />
                <span asp-validation-for="temp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" placeholder="Enter Consultation Title" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="symptoms" class="control-label"></label>
                <textarea asp-for="symptoms" class="form-control" placeholder="Patient's Symptoms"></textarea>
                <span asp-validation-for="symptoms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="diagnostics" class="control-label"></label>
                <textarea asp-for="diagnostics" class="form-control" placeholder="Diagnosis"></textarea>
                <span asp-validation-for="diagnostics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="treatment" class="control-label"></label>
                <textarea asp-for="treatment" class="form-control" placeholder="Treatment Required"></textarea>
                <span asp-validation-for="treatment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cost" class="control-label"></label>
                <input asp-for="cost" class="form-control" placeholder="Consultation Cost in Dollar" />
                <span asp-validation-for="cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="insurance_conf" class="control-label"></label><br />

                @Html.RadioButtonFor(model => model.insurance_conf, "Yes")
                Yes
                @Html.RadioButtonFor(model => model.insurance_conf, "No")
                No

                <span asp-validation-for="insurance_conf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Add Consultation" id="save" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }



    <script>
    $(function () {
        $("#save").click(function (e) {
            Swal.fire({
                title: 'Consultation Created !',
                text: '',
                type: 'success'
            }).then((result) => {
                $("#simpleForm").submit();
            })
        });
    });
    </script>

}
