
@{
    ViewData["Title"] = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-action="testing">

    <div class="form-group">
        <input type="number" name="put" class="form-control" />
    </div>
    <input type="submit" value="Click On Me !" />
</form>