@model Clinic.Models.Doctor

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="fname" class="control-label"></label>
                <input asp-for="fname" class="form-control" placeholder="First Name" />
                <span asp-validation-for="fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mname" class="control-label"></label>
                <input asp-for="mname" class="form-control" placeholder="Middle Name" />
                <span asp-validation-for="mname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lname" class="control-label"></label>
                <input asp-for="lname" class="form-control" placeholder="Last Name" />
                <span asp-validation-for="lname" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="pass" class="control-label"></label>
                <input  asp-for="pass" class="form-control" />
                <span asp-validation-for="pass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label"></label>
                <input asp-for="phone" class="form-control" placeholder="Phone Number" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mobile" class="control-label"></label>
                <input asp-for="mobile" class="form-control" placeholder="Mobile Name" />
                <span asp-validation-for="mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control"  placeholder="DoctorEmail@Exemple.com"/>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="gender" class="control-label"></label><br />

                @Html.RadioButtonFor(model => model.gender, "Male")
                Male
                @Html.RadioButtonFor(model => model.gender, "Female")
                Female
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="speciality" class="control-label"></label>
                <select asp-for="speciality"  asp-items="Model.Items" class="form-control"  ></select>
                <span asp-validation-for="speciality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="time" class="control-label"></label>
                <input asp-for="time" class="form-control" placeholder="Available Time" />
                <span asp-validation-for="time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" placeholder="Enter Address" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="about" class="control-label"></label>
                <textarea asp-for="about" class="form-control" placeholder="About Doctor"></textarea>
                <span asp-validation-for="about" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
   
    }