<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blueprint: Split Layout</title>
    <meta name="description" content="Blueprint: Split Layout" />
    <meta name="keywords" content="website template, layout, css3, transition, effect, split, dual, two sides, portfolio" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/css/AboutPage/component.css" />
    <link rel="stylesheet" type="text/css" href="~/css/AboutPage/demo.css" />
    <script src="~/js/Aboutjs/modernizr.custom.js"></script>



</head>
<body>
    @RenderBody()

</body>



</html>